:root {
 --kleur1: #4a4b56;
 --kleur2: #000000; 
 --kleur3: #ffffff;
 --kleur4: #787b7c; 
}

body {
 display: grid;
grid-template-areas:
"header"
"nav"
"main"
"footer";
grid-template-columns: 1fr;
grid-template-rows: 120px 80px auto 60px ;
background-color: var(--kleur3);

}
header {
  grid-area: header;
  background-color: var(--kleur1);
}
nav {
  background-color: var(--kleur4);
  grid-area: nav;
  nav ul {
list-style: none;
display: flex;
gap: 15px;
}
nav a {
text-decoration: none;
}
nav a:hover {
text-decoration: underline;
}
}
main {
  grid-area: main;
  min-height: 80vh;
}

main ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

main ul li {
  padding: 20px;
}

footer{
  grid-area: footer;
  background-color: var(--kleur2);
}


.flex {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 20px;
}

.flex article {
  width: 25%;
}

main p {
  width: 100%;
  margin: auto;
  text-align: center;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  transition: font-weight 0.2s ease; 
}

.hover-bold {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  transition: font-weight 0.2s ease;
}

.hover-bold:hover {
  font-weight: 700; /* dikker op hover */
}



@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');