:root {
 --kleur1: #4a4b56;
 --kleur2: #0f0e34; 
 --kleur3: #1E4000;
 --kleur4: #08181E; 
}

body {
 display: grid;
grid-template-areas:
"header"
"nav"
"main"
"footer";
grid-template-columns: 1fr;
grid-template-rows: 120px 80px auto 60px ;
background-color: var(--kleur4);

}
header {
  grid-area: header;
  background-color: var(--kleur1);
}
nav {
  background-color: var(--kleur2);
  grid-area: nav;
  nav ul {
list-style: none;
display: flex;
gap: 15px;
}
nav a {
text-decoration: none;
}
nav a:hover {
text-decoration: underline;
}
}
main {
  grid-area: main;
  min-height: 80vh;
}
footer{
  grid-area: footer;
  background-color: var(--kleur3);
}


