:root {
 --kleur1: #4a4b56;
 --kleur2: #0f0e34; 
 --kleur3: #1E4000;
 --kleur4: #08181E; 
}

body {

}
header {
  grid-area: header;
  background-color: var(--kleur1);
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
footer{
  grid-area: footer;
}


