:root {
 --kleur1: #4a4b56;
 --kleur2: #000000; 
 --kleur3: #ffffff;
 --kleur4: #787b7c; 
}

body {
 display: grid;
grid-template-areas:
"header"
"nav"
"main"
"footer";
grid-template-columns: 1fr;
grid-template-rows: 120px 80px auto 60px ;
background-color: var(--kleur3);

}
header {
  grid-area: header;
  background-color: var(--kleur1);
}
nav {
  background-color: var(--kleur4);
  grid-area: nav;
  nav ul {
list-style: none;
display: flex;
gap: 15px;
}
nav a {
text-decoration: none;
}
nav a:hover {
text-decoration: underline;
}
}
main {
  grid-area: main;
  min-height: 80vh;
}

main ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

main ul li {
  padding: 20px;
}

footer{
  grid-area: footer;
  background-color: var(--kleur2);
}


main {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 20px;
}

main article {
  width: 25%;
}